/* Universal styles */

#folder-screen.show, #todo-screen.show {
    display: flex;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    margin-bottom: 15px;
}

form button {
    width: 100%;
    height: 25px;
    background-color: #1992D4;
    color: white;
    border-radius: 5px;
}

.close {
    margin-top: auto;
    margin-bottom: 10px;
    color: black;
}

.close:hover {
    background-color: red;
    color: white;
}

button[type="submit"]:hover {
    background-color: blue;
    color: white;
}

input, select {
    width: 100%;
}

/* folder stlyes */

#folder-screen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#folder-screen form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 250px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

/* todo styles */

#todo-screen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#todo-screen form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 300px;
    width: 270px;
    padding: 20px;
    border-radius: 10px;
}